.sectionBlog {
    height: 30%;
}

.sectionBlogContent {

}

.blogBox {
    display: flex;
}

.blogBoxContent{
    padding: 3%;
    & img {
        height: 90%;
        padding: 0;
        width: 30;
    }
}