/* Code CSS permettant de mettre en forme la section footer */
footer {
  display: flex;
  color: gray;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  border-top: 1px solid gray;
  & > * {
    padding-top: 20px;
  }
}

a {
  text-decoration: none;
}
