body {
    margin: 0;
}


.sectionHireMe {
    display: flex;
    height: auto;
    background-color: rgb(105,90,166);
    color: white;
    & button {
        position: relative;
        font-weight: bold;
        border: none;
        margin: 0 auto;
        padding: 2%;
        border-radius: 2px;
    }
    & div {
        margin-left: 10%;
        width: 50%;
    }
}

.hireMeButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}